server {
  listen       80;
  listen  [::]:80;

  listen       443 ssl;
  listen  [::]:443 ssl;

  server_name  learning-strapi.local.harrytang.com;
  
  ssl_certificate     /etc/nginx/ssl/cert.pem;
  ssl_certificate_key /etc/nginx/ssl/key.pem;

  location / {
    proxy_pass  http://host.docker.internal:1338;
  }
}